<form class="animated fadeIn" [formGroup]="addFavoriteForm" (ngSubmit)="addFavorite()" #form="ngForm">
    <div class="form-row">
      <h2>Agregar Favoritos</h2>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="productName">Nombre Artista</label>
        <input class="form-control" type="text" id="artistName" [(ngModel)]="artistName" formControlName="artistName" [readonly]="true">
      </div>
      <div class="form-group col-md-6">
        <label for="productName">ID Canción</label>
        <input class="form-control" type="text" id="trackId" [(ngModel)]="songId" formControlName="trackId" [readonly]="true">
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="productName">Usuario</label>
          <input class="form-control" type="text" id="userName" placeholder="Usuario..." formControlName="userName">
        </div>
        <div class="form-group col-md-6">
          <label for="productName">Calificación</label>
          <input class="form-control" type="number" id="ranking" placeholder="0" formControlName="ranking" min="0" max="5">
        </div>
      </div>
    <button class="btn btn-dark" type="submit" [disabled]="!form.valid">
      Agregar
    </button>
    <router-outlet></router-outlet>
  </form>